<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PRP1-A1a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PRP1-A1c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PRP1-A2a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PRP1-A2b.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PRP1-A3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F4B963118295A4F00A824CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FB0DBCB18339F4F00626B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FBAE40918213B6D0010FDCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FBAE41718213B7C0010FDCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FBAE42418213BDB0010FDCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FBAE4351821AA6A0010FDCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FDFB0EC183B64DF00B73408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FFA9BF01828D2B400D9F789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
